@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap owl-carousel owl-theme owl-rtl owl-loaded">
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <!-- Single Partner Start -->
                        <!-- Single Partner End -->
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(2508.8px, 0px, 0px); transition: all 0.25s ease 0s; width: 5331.2px;">
                                <div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 298.6px; margin-left: 15px;">
                                    <div class="single-partner">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <img src="~/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" style="display: none;">prev</div>
                                <div class="owl-next" style="display: none;">next</div>
                            </div>
                            <div class="owl-dots" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
